<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Company.ShowCompanySuspendedDriversDetails"
            android:label="DriverDetails"></activity>
        <activity android:name=".Company.ShowCompanyAllCustomerDetails"
            android:label="CustomerDetails"/>
        <activity android:name=".Company.ShowCompanyAllDriversDetails"
            android:label="DriverDetails"/>
        <activity android:name=".Driver.ShowDriverCompletedOrder"
            android:label="CompletedOrder"/>
        <activity android:name=".Customer.ShowCustomerCompletedOrder"
            android:label="CompletedOrder"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvR07aFM-1ddGVgt392lRnUge3weT6nUY" />

        <activity android:name=".Company.ShowDriverDetails"
            android:label="DriverDetails"/>
        <activity android:name=".Company.ShowHistory"
            android:label="History"/>
        <activity android:name=".Company.ShowProgressingOrders"
            android:label="ProgressingOrders"
            android:parentActivityName=".Company.CompanyMainPage"/>
        <activity
            android:name=".Company.CompanyMainPage"
            android:label="@string/title_activity_company_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Company.CompanyLogIn" />
        <activity
            android:name=".Driver.DriverHomeActivity"
            android:label="@string/title_activity_driver_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Customer.CustomerHomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity android:name=".Driver.ShowDriverProfile" /> -->
        <activity android:name=".Driver.Setting"
            android:label="EditProfile"/>
        <activity android:name=".Customer.ConfirmOrder"
            android:label="ConfirmOrder"/>
        <activity android:name=".Driver.ShowFullRequest"
            android:label="RequestDetails"/>
        <activity android:name=".Customer.CustomerRegister"
            android:label="Register"/>
        <activity android:name=".SignIn"
            android:label="SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Driver.DriverRegister"
            android:label="Register"/> <!-- <activity android:name=".Driver.DriverRequests.DriverRequests" /> -->
        <activity
            android:name=".Customer.CustomerMaps"
            android:label="ProgressingOrder" />
        <activity android:name=".Customer.AddItem.AddItem" />
        <activity
            android:name=".Driver.MapsActivity"
            android:label="ProgressingOrder" />
    </application>

</manifest>